.emailBody {
  padding: 0;
  height: 7.5px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  margin-bottom: 30px;
}

.emailBody-left {
  display: flex;
}

.emailBody-middle {
  white-space: nowrap;
  display: flex;
  max-width: 400px;
  overflow: hidden;
}

.emailBody-right {
  display: flex;
  justify-content: flex-end;
}

.emailBody svg {
  font-size: 12px;
}

.unRead {
  align-self: center;
  width: 8px;
  height: 8px;
  background-color: blue;
  border-radius: 50%;
}

.delete {
  display: inline;
}

.delete svg {
  font-size: 15px;
}